.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #6666ff;
  width: 5rem;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  margin-top: 25px;
  margin-right: 1rem;
}
.container:hover {
  text-decoration: none;
}

.container:active {
  opacity: 0.8;
}

.text {
  color: white;
}
