.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 90vh;
  position: relative;
}

.bottom {
  height: max(10vh, 70px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
}

.heading {
  font-size: 2.4rem;
  font-weight: bold;
}

.iconContainer {
  display: flex;
}

.icon {
  margin: 0 1rem;
  height: 50px;
  overflow: hidden;
}

.img {
  height: 50px;
}

@media screen and (max-width: 570px) {
  .bottom {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 834px) {
  .heading {
    font-size: 2rem;
  }

  .icon {
    height: 40;
    object-fit: contain;
  }

  .img {
    height: 40px;
  }
}
