.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 5rem 2rem;
  overflow: hidden;
}

.projectContainer {
  width: 100%;
  max-width: 70rem;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.heading {
  font-size: 1.8rem;
  font-weight: bold;
  height: 10vh;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 570px) {
  .projectContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .projectContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
