.container {
  padding: 1rem 3rem;
}

.projectContainer {
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr; */
  /* gap: 20px; */
}

/* @media screen and (min-width: 600px) {
  .projectContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .projectContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  .projectContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
} */
